*.DS_Store
.idea/
*__pycache__/
.vscode/
!.vscode/settings.json
.hydra/
node_modules/
.next/
wandb/

deploy
debug/
roboverse_demo/
roboverse_demo
roboverse_data/
roboverse_data
roboverse_data_dev/
roboverse_data_dev
roboverse_data_release/
roboverse_data_release
*.pth
checkpoints
slurm.sh
data_policy/
outputs/
eval_outputs/
tmp/
results/
RoboVersePage
unused/
Open6DOR
_isaac_sim
ppo_logs/
legacy/

# Data
/assets
/data
/data/
/data_old
/data_old/
/data_isaaclab
/data_isaaclab/
/data_metasim
/data_metasim/
data_policy
info
MJMODEL.TXT
view_mjcf.py
/tools_libero
/tools_libero/
logdir/

# Old Repos
UniRobo
RoboVerseOld
RoboVersePage
RoboVerseLearn

# Third Party Repos
orbit
IsaacLab

*.log
_data
*.ipynb

*.avi
*.mp4
*.png
*.jpg

*.zip
*.tar
*.gz


imgui.ini
MUJOCO_LOG.TXT
*.egg-info
build
metasim/cfg/tasks/arnold/Arnold
dist

id_ed25519*
id_rsa*

# for docker
.env

# for sapien
*.convex.stl
